@import '../../globalScss//globalScss.scss';

.single-root{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10% auto;
    padding: 15px;
}

.single-card{
    display: flex;
    align-items: stretch;
    justify-content: start;
    flex-direction: column;
    box-shadow: -3px 3px 5px -1px rgba(0, 0, 0, 0.75);

    padding: 10px;
    >img{
        width: fit-content;
        height: fit-content;

    }

    .singleUser-link{
        text-decoration: none;
        color: black;
        background-color: $mainColor;
        width: 80%;
        padding: 15px;
        border-radius: 5px;
        transition: all 0.4s ease-in;
        margin-top: 10px;
        &:hover {
          background-color: $honerMainColor;
          opacity: 0.8;
          color: white;
        }
    }

    .active {
        color: green;
      }
    
      .notActive {
        color: red;
      }
}