.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-user-card{
  border: black solid 2px;
  margin: 7px;
  text-align: left;
}

h1{
  height: 90%;
}

/* button{
  border: none;
  background-color: black;
  color: white;
  border-radius: 5%;
  width:30%;
  padding: 10px;

} */